/* Body Formatting */
body{
    background-color: khaki;
    color: brown;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

nav a img{
    height: 25px;
    width: 25px;
}

.jumbotron, #main{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.display-4, .row{
    background-image: linear-gradient(to right, silver, burlywood, silver);
    color: chocolate;
    display: flex;
    justify-content: center;
}
p strong{
    color: darkturquoise;
}
q{
    color: slategray;
    font-size: 0.85em;
    font-family: 'Times New Roman', Times, serif;
}
i{
    color: green;
    font-size: 0.85em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#thumbnails{
    height: 1000px;
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
#thumbnails .card{
    background-color: skyblue;
    height: 45vh;
    width: 45vh;
}
#house{
    background-color: skyblue;
}
.card-title{
    color: gray;
}
.price{
    color: green;
}
li{
    color: gray;
    margin: 10px;
}
